.navigation__false {
  margin-right: 72px;
  margin-top: 8px;
}

.navigation__regist {
  width: 76px;
  height: 16px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(32, 32, 32, 1);
  text-decoration: none;
  border: medium none;
  font-style: medium;
  font-weight: 400;
  font-size: 12px;
  ffont-family: Inter, Arial, sans-serif;

  margin-right: 31px;
}

.navigation__hover:hover {
  opacity: 0.5;
  cursor: pointer;
  transition: 0.5s
}

.navigation__entrance {
  width: 76px;
  height: 32px;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(61, 220, 132, 1);
  text-decoration: none;
  border: medium none;
  font-size: 12px;
  border-radius: 3px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  padding: 8px 20px;
  padding-left: 15px;
}

.navigation__true {
  text-decoration: none;
  border: none;
  background: none;
  color: rgba(255, 255, 255, 1);
  padding: 0;

}

.navigation__film {
  text-decoration: none;
  border: none;
  background: none;
  color: rgba(255, 255, 255, 1);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  margin-top: 11px;
  margin-right: 30px;
}

.navigation__save-film {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  margin-right: 364px;
}

.navigation__me {
  width: 100px;
  height: 32px;
  border-radius: 20px;
  background-color: rgba(49, 49, 49, 1);
  margin-right: 71px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
  border: none;
  color: rgba(255, 255, 255, 1);
  padding: 8px 20px;
}

.navigation__true:hover,
.navigation__true:focus {
  font-weight: 500;
}

.active {
  font-weight: 500;
}

@media (max-width:768px) {
  .navigation__false {
    margin-right: 29px;
    margin-top: 9px;
  }

  .navigation__regist {
    margin-right: 33px;
  }

  .navigation__false {
    margin-right: 29px;
    margin-top: 8px;
  }


}

@media (max-width:320px) {
  .navigation__false {
    margin-right: 13px;
    margin-top: 8px;
  }

  .navigation__entrance {
    padding-left: 11px;
    width: 46px;
    padding-top: 7px;
    padding-right: 12px;
    padding-bottom: 7px;
    font-size: 10px;
  }

  .navigation__regist {
    color: #FFF;
    text-align: right;
    ffont-family: Inter, Arial, sans-serif;

    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    margin-right: 13px;
  }

}

/* для мобильной версии */
.mobile__menu {
  position: fixed;
  top: 0;
  right: -520px;
  width: 68%;
  height: 100%;
  background-color: #202020;
  transition: right 0.3s;
  opacity: 1;
  z-index: 2;
}

.mobile__menu.open {
  right: 0;
}

.mobile__menu-button {
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
  background-image: url('../../images/icon__COLOR_icon-main.svg');
  width: 44px;
  height: 44px;
  padding: 0;
  margin-right: 30px;
}

.mobile__menu-container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.mobile__menu-link {
  color: #FFF;
  text-align: center;
  ffont-family: Inter, Arial, sans-serif;

  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  margin-top: 31px;
  display: inline-block;
  position: relative;
}

.mobile__menu-link:first-child {
  margin-top: 108px;
}

.mobile__menu-link:last-child {
  border-radius: 20px;
  background-color: rgba(49, 49, 49, 1);
  width: 100px;
  color: #FFF;
  text-align: center;
  ffont-family: Inter, Arial, sans-serif;

  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  padding: 6px 2px;
  padding-bottom: 0px;
  position: absolute;
  left: 210px;
  height: 29px;
  padding-top: 9px;
  bottom: 90px;
}


.mobile__menu-close {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 22px;
  height: 22px;
  background-image: url(../../images/close.svg);
  margin-right: 11px;
  margin-top: 2px;
}


.mobile__menu-container:hover,
.mobile__menu-container:focus {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.active-mobile {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

@media(max-width: 320px) {
  .mobile__menu-button {
    width: 40px;
    height: 43px;
    margin-right: 16px;
  }

  .mobile__menu {
    width: 100%;
  }

  .mobile__menu-close {
    top: 13px;
    width: 18px;
  }

  .mobile__menu-link:first-child {
    margin-top: 93px;
  }

  .mobile__menu-link:nth-child(2) {
    margin-top: 27px;
  }

  .mobile__menu-link:nth-child(3) {
    margin-top: 24px;
  }

  .mobile__menu-link:last-child {
    bottom: 145px;
    left: 107px;
    height: 29px;
  }
}