.techs {
    background-color: rgba(39, 39, 39, 1);
    max-width: 1280px;
}

.techs__title {
    color: rgba(255, 255, 255, 1);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    margin: 0;
    border-bottom: 1px solid rgba(218, 218, 218, 1);
    padding-bottom: 23px;
    margin: 0 70px 0;
    padding-top: 105px;
}

.techs__technologes {
    color: rgba(255, 255, 255, 1);
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    text-align: center;
    margin-top: 94px;
}

.techs__text {
    color: rgba(255, 255, 255, 1);
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    text-align: center;
    max-width: 460px;
    margin: auto;
    margin-top: 31px;
    line-height: 20px
}

.techs__technologes-container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    list-style-type: none;
    padding-left: 0;
}

.techs__tech {
    width: 90px;
    height: 40px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(48, 48, 48, 1);
    text-decoration: none;
    border: medium none;
    font-size: 12px;
    border-radius: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    text-align: center;
    margin: 0;
    margin-right: 10px;
    padding-top: 20px;
    margin-bottom: 93px;
}

@media (max-width: 768px) {
    .techs__title {
        margin-left: 49px;
        padding-top: 93px;
        margin-right: 49px;
        padding-bottom: 25px;
    }

    .techs__technologes {
        margin-top: 80px;
    }

    .techs__text {
        margin-top: 26px;
        font-size: 12px;
        line-height: 18px;
    }

    .techs__technologes-container {
        margin-top: 84px;
    }

    .techs__tech {
        width: 83px;
        margin-bottom: 85px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .techs__technologes-container {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        gap: 10px;
        margin-top: 47px;
        padding-bottom: 30px;
    }

    .techs__tech {
        width: 83px;
        margin: 0;
    }
}

@media (max-width: 320px) {
    .techs {
        background-color: rgba(32, 32, 32, 1);
    }

    .techs__title {
        margin: 0 20px 0;
        padding-top: 39px;
        font-size: 18px;
        letter-spacing: -0.72px;
        border-bottom: 1px solid #000;
        ;
    }

    .techs__technologes {
        font-size: 30px;
        letter-spacing: -1.2px;
        margin-top: 66px;
    }

    .techs__technologes-container {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        gap: 10px;
        margin-top: 47px;
    }

    .techs__text {
        font-size: 11px;
        letter-spacing: -0.44px;
        max-width: 292px;
        line-height: 16px;
    }

    .techs__tech {
        margin: 0;
        width: 84px;
        padding-top: 19px;
        height: 39px;
        font-size: 12px;
        letter-spacing: -0.48px;
    }
}