.MoviesCard__container {
    max-width: 360px;
    position: relative;
    max-height: 232px;
}

.MoviesCard__about {
    display: flex;
    justify-content: space-between;
    margin: 11px 15px 0;
}

.MoviesCard__name {
    color: #FFF;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    max-width: 250px;
}

.MoviesCard__time {
    color: #8B8B8B;
    text-align: center;
    font-family: Inter;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px;
    width: 44px;
    height: 12px;
    border-radius: 3px;
    background: #2F2F2F;
    margin: 0;
    padding-top: 3px;
    margin-right: 4px;
}

.MoviesCard__button-save {
    position: absolute;
    background: none;
    border: none;
    padding: 0;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 9px;
    border-radius: 30px;
    background: #313131;
    top: 21px;
    right: 24px;
    width: 72px;
    height: 21px;
    display: none;
}

.MoviesCard__button-save:hover {
    cursor: pointer;
    opacity: 0.6;
    transition: 0.5s;
}

.MoviesCard__container:hover .MoviesCard__button-save {
    display: block;
}

.MoviesCard__button-saved {
    background-image: url('../../../../images/save3.svg');
    position: absolute;
    border: none;
    padding: 0;
    color: #FFF;
    text-align: center;
    border-radius: 30px;
    top: 16px;
    right: 13px;
    width: 21px;
    height: 21px;
}

.MoviesCard__button-delete {
    position: absolute;
    background: none;
    border: none;
    padding: 0;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 9px;
    border-radius: 30px;
    background-image: url('../../../../images/d3.png');
    top: 21px;
    right: 24px;
    width: 21px;
    height: 21px;
    display: none;
    cursor: pointer;
}

.MoviesCard__container:hover .MoviesCard__button-delete {
    display: block;
}

.MoviesCard__button-delete:hover {
    opacity: 0.6;
    transition: 0.5s;
}

@media(max-width:768px) {
    .MoviesCard__img {
        max-width: 339px;
    }

    .MoviesCard__about {
        margin: 22px 0px 0;
    }

    .MoviesCard__name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media (max-width: 320px) {
    .MoviesCard__img {
        max-width: 300px;
    }

    .MoviesCard__about {
        margin-top: 12px;
        color: #FFF;
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    .MoviesCard__button-delete{
        display: block;
    }
    .MoviesCard__button-save{
        display: block;
    }
}