.AboutMe__content {
    background-color: rgba(32, 32, 32, 1);
    max-width: 1280px;
    margin-top: 14px;
}

.AboutMe__title {
    color: rgba(255, 255, 255, 1);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    margin: 0;
    border-bottom: 1px solid rgba(218, 218, 218, 1);
    padding-bottom: 23px;
    margin: 0 70px 0;
    padding-top: 105px;
}

.AboutMe__container {
    display: flex;
    justify-content: space-between;
    margin: 66px 72px 0;
    color: rgba(255, 255, 255, 1);
}

.AboutMe__name {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 47px;
}

.AboutMe__prof {
    margin: 22px 0 0;
    font-size: 18px;
}

.AboutMe__life {
    margin: 25px 0 0;
    max-width: 600px;
    line-height: 22px;
    font-size: 14px;
}

.AboutMe__git {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    margin-top: 100px;
    display: block;
    font-size: 13px;
}

.AboutMe__git:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: 0.5s;
}

.AboutMe__image {
    border-radius: 10px;
}

.AboutMe__portfolio {
    color: rgba(139, 139, 139, 1);
    margin-top: 100px;
    margin-left: 68px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

.AboutMe__site {
    display: flex;
    flex-direction: column;
    margin: 60px 77px 134px 70px;
    font-size: 28px;
}

.AboutMe__link {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
    border-bottom: 1px solid rgba(66, 66, 66, 1);
    padding-bottom: 29px;
}

.AboutMe__link:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: 0.5s;
}

.AboutMe__link:first-child {
    margin-top: 0;
}

.AboutMe__link:last-child {
    padding: 0;
    border-bottom: none;
}

@media (max-width: 768px) {
    .AboutMe__title {
        margin-left: 52px;
        padding-top: 78px;
    }

    .AboutMe__container {
        margin: 66px 48px 0;
    }

    .AboutMe__name {
        font-size: 40px;
    }

    .AboutMe__prof {
        font-size: 12px;
        margin-top: 13px;
    }

    .AboutMe__life {
        font-size: 12px;
        line-height: 18px;
        max-width: 364px;
        margin-top: 22px;
    }

    .AboutMe__git {
        margin-top: 89px;
    }

    .AboutMe__image {
        width: 38.2%;
        object-fit: contain;
    }

    .AboutMe__site {
        margin-left: 52px;
        margin-right: 55px;

    }

    .AboutMe__portfolio {
        margin-left: 50px;
        margin-top: 89px;
    }

    .AboutMe__link {
        font-size: 26px;
    }

    .AboutMe__link:last-child {
        margin-top: 33px;
    }
}

@media (max-width: 320px) {
    .AboutMe__title {
        font-size: 18px;
        letter-spacing: -0.72px;
        padding-top: 125px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .AboutMe__container {
        flex-direction: column-reverse;
        margin: 0 15px 0;
    }

    .AboutMe__image {
        width: 100%;
        margin-top: 64px
    }

    .AboutMe__name {
        font-size: 30px;
        letter-spacing: -1.2px;
        margin-top: 41px;
    }

    .AboutMe__prof {
        font-size: 11px;
        line-height: 16px;
        margin-top: 22px;
    }

    .AboutMe__life {
        font-size: 11px;
        line-height: 16px;
        margin-top: 20px;
    }

    .AboutMe__git {
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-top: 42px;
    }

    .AboutMe__site {
        margin: 44px 15px 0;
    }

    .AboutMe__portfolio {
        font-size: 14px;
        line-height: 20px;
        margin-left: 15px;
        margin-top: 68px;
    }

    .AboutMe__link {
        font-size: 18px;
        letter-spacing: -0.72px;
        padding-bottom: 22px;
    }
    .AboutMe__link:last-child{
        margin-top: 22px;
    }
}